<%= form_tag('/vimeo_embeds') do %>

<p>Please enter the ID for a Vimeo video you would like to embed.</p>

<p><em>The ID is present in the watching, sharing, or embedding
   url for any Vimeo video.  It is a series of letters and numbers, for instance, '115045518'.</em></p>

<p><%= text_field_tag 'url', '', :size => 86 %></p>

<p><%= submit_tag "Submit" %></p>

<% end %>
