<%= form_tag('/youtube_embeds') do %>

<p>Please enter the ID for a YouTube video you would like to embed.</p>

<p><em>The ID is present in the watching, sharing, or embedding
   url for any YouTube video.  It is a series of letters and numbers, for instance, 'hjR_qcXfNzA'.</em></p>

<p><%= text_field_tag 'url', '', :size => 86 %></p>

<p><%= submit_tag "Submit" %></p>

<% end %>
